{% extends "OIPlatformBundle::layout.html.twig" %}

{% block title %}OIPlatformBundle:Category:add{% endblock %}

{% block oiplatform_body %}
<h2>Ajouter une catégorie</h2>
<div class="well">
  {{ form(form) }}
</div>
{% endblock %}
