{% extends "OIPlatformBundle::layout.html.twig" %}

{% block title %}OIPlatformBundle:Category:add{% endblock %}

{% block oiplatform_body %}
<h2>Liste des catégorie</h2>
<div class="well">
  <ul>
  {% for category in categories %}
    <li>
      {{ category.name }}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
