oi_platform_home:
    path:     /
    defaults: { _controller: OIPlatformBundle:Advert:index }

oi_platform_view:
    path:     /advert/{id}
    defaults: { _controller: OIPlatformBundle:Advert:view }

oi_platform_viewSlug:
    path: /advert/{year}/{slug}.{format}
    defaults:
      _controller: OIPlatformBundle:Advert:viewSlug
      format: html
    requirements:
      year: \d{4}
      format: html|xml

oi_platform_add:
    path:     /add
    defaults: { _controller: OIPlatformBundle:Advert:add }

oi_platform_edit:
    path:     /edit/{id}
    defaults: { _controller: OIPlatformBundle:Advert:edit }
    requirements:
      id: \d+

oi_platform_delete:
    path:     /delete/{id}
    defaults: { _controller: OIPlatformBundle:Advert:delete }
    requirements:
      id: \d+

oi_platform_market:
  path: /market
  defaults: { _controller: OIPlatformBundle:Advert:market }

oi_platform_trainees:
  path: /trainees
  defaults: { _controller: OIPlatformBundle:Trainee:list }

oi_platform_categories:
  path: /categories
  defaults: { _controller: OIPlatformBundle:Category:index }

oi_platform_category_add:
  path: /category/add
  defaults: { _controller: OIPlatformBundle:Category:add }
