{% extends "OIPlatformBundle::layout.html.twig" %}

{% block title %} {{parent()}} - Modifier une annonce {% endblock %}

{% block body %}
  <h2>Modifier une annonce</h2>
  {{ include("OIPlatformBundle:Advert:form.html.twig") }}

  <p>L'annonce sera visible sur la page d'accueil</p>
{% endblock %}
