{% extends "OIPlatformBundle::layout.html.twig" %}

{% block title %} {{parent()}} - Market {% endblock %}

{% block body %}
    <h1>Market</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Nom</td>
          <td>Type</td>
          <td>Calories/100g</td>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.calories}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
